* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #050505;
    color: #fff;
    overflow-x: hidden;
}



nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, .65);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
}



.logo span {
    color: #ff1e1e;
}


.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 20px 40px;
    text-align: center;
    
}

#logo img {
    width: 200px;
    border-radius: 18px;
    object-fit: cover;
     margin-top: 50px;
}

.hero h1 {
    margin-top: 30px;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2;
}

.hero h1 span {
    color: #ff2d2d;
}


.hero p {
    margin-top: 15px;
    font-size: 15px;
    line-height: 1.8;
    color: #bdbdbd;
    max-width: 330px;
}

.btn {
    display: inline-block;
    margin-top: 28px;
    padding: 14px 34px;
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, #8b0000, #ff1a1a);
    border-radius: 40px;
    font-weight: 600;
    box-shadow: 0 0 20px rgba(255, 0, 0, .4);
    transition: .35s;
}

.btn:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 25px rgba(255, 0, 0, .8);
}

.scroll {
    margin: 40px 0px;
    font-size: 13px;
    color: #888;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.scroll i {
    color: #ff2d2d;
    animation: move 1.8s infinite;
}

.series i {
    animation: move-left-right 1.8s infinite;
}

@keyframes move-left-right {
    
    0% {
        transform: translateX(0);
    }
    
    50% {
        transform: translateX(8px);
    }
    
    100% {
        transform: translateX(0);
    }
    
}

@keyframes move {
    
    0% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(8px);
    }
    
    100% {
        transform: translateY(0);
    }
    
}


.collection {
    padding: 40px 0 70px;
    
}
.margin{
    margin-top: 80px;
}
.title-box {
    padding: 0 20px 20px;
}

.sub-title {
    color: #ff2b2b;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 8px;
}

.series{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}
.series a{
    color: white;
    transition: all ease 2s;
}
.title-box h2 {
    font-size: 30px;
    font-weight: 700;
}

.cards {
    display: flex;
    gap: 18px;
    overflow-x: auto;
    padding: 10px 20px 15px;
    scroll-snap-type: x mandatory;
}

.cards::-webkit-scrollbar {
    display: none;
}

.card {
    min-width: 220px;
    height: 330px;
    border-radius: 22px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease .8s;
}

.card:hover img {
    transform: scale(1.3);
}



.overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 18px;
    background: linear-gradient(transparent,
            rgba(0, 0, 0, .95));
}

.overlay:hover{
    opacity: 0;
}

.overlay h3 {
    font-size: 20px;
    margin-bottom: 6px;
}

.overlay p {
    color: #d6d6d6;
    font-size: 14px;
}


.moments {
    padding: 20px 20px 70px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 25px;
}

.moment {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    
}

.moment img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    display: block;
    transition: .4s;
}

.big {
    grid-column: 1/3;
}

.big img {
    height: 250px;
}

.moment:hover img {
    transform: scale(1.08);
}

.moment-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 18px;
    background: linear-gradient(transparent, rgba(0, 0, 0,0.95));
}

.moment-text h3 {
    font-size: 20px;
}

.moment-text p {
    font-size: 13px;
    color: #d0d0d0;
    margin-top: 5px;
}


footer {
    padding: 50px 20px 35px;
    text-align: center;
}

footer h2 {
    font-size: 28px;
}

footer span {
    color: #ff2d2d;
}

footer p {
    color: #999;
    margin-top: 10px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin: 28px 0;
}

.social a {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    background: #111;
    transition: .3s;
}

.social a:hover {
    background: #ff1f1f;
    transform: translateY(-5px);
    box-shadow: 0 0 4px rgba(255, 0, 0, .6);
}

.copy {
    font-size: 13px;
    color: #666;
}


.favorites {
    padding: 20px 0;
}

.favorite-slider {
    display: flex;
    gap: 18px;
    overflow-x: auto;
    padding: 25px 20px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.favorite-slider::-webkit-scrollbar {
    display: none;
}

.favorite-card {
    min-width: 180px;
    scroll-snap-align: center;
    background: #0d0d0d;
    border-radius: 22px;
    overflow: hidden;
    position: relative;
    transition: .35s;
}

.favorite-card:hover {
    transform: translateY(-20px);
    
}

.favorite-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.rank {
    position: absolute;
    top: 12px;
    left: 12px;
    background: #ff1b1b;
    color: #fff;
    padding: 6px 12px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 700;
}

.favorite-card h3 {
    padding: 15px 15px 5px;
    font-size: 18px;
}

.favorite-card p {
    padding: 0 15px 18px;
    color: #cfcfcf;
    font-size: 14px;
}

@media(min-width:768px) {
    #logo img {
    width: 400px;
    border-radius: 18px;
    object-fit: cover;
}


.banner h1 {
    margin-top: 12px;
    font-size: 88px;
    line-height: 1.2;
}

.banner h1 span {
   color: #ff2b2b;
}

.banner p {
    margin: 18px auto 35px;
    max-width: 640px;
    color: #bdbdbd;
    font-size: 28px;
    line-height: 1.7;
}

.moment img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    display: block;
    transition: .4s;
}

.big img {
    height: 450px;
}

}

@media (max-height: 600px) and (orientation: landscape) {
    .hero {
        height: auto ;
        padding-top: 0px;
        padding-bottom: 50px;
    }
  }

.overlay:hover{
    opacity: 0;
}

.moment{
  animation: slide-from-left ease-out both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

@keyframes slide-from-left {
  from {
    opacity: 0;
    scale: 0;
    transform: translateX(-500px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateX(0);
  }
}

